/* 首页样式 */
/* 版心 */
.wrapper{
  margin: 0 auto;
  width: 1200px;
}
body{
  background-color: #f3f5f7;
}
/* 头部区域 */
.header{
  background-color: #fff;
  height: 100px;
}
.header .wrapper{
  padding-top: 29px;
  display: flex;
}
.logo a{
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../images/logo.png);
  font-size: 0;
}
.nav{
  margin-left: 102px;
}
.nav ul{
  display: flex;
}
.nav ul li{
  margin-right: 24px;
}
.nav ul li a{
  display: block;
  padding: 6px 8px;
  line-height: 27px;
  font-size: 19px;
}

/* active类选择器，表示默认选中的a */
/* 并集选择器 */
.nav ul li .active,
.nav ul li a:hover{
  border-bottom: 2px solid #00a4ff;
}

/* 搜索区域 */
.search{
  margin-left: 64px;
  padding-left: 19px;
  padding-right: 12px;
  display: flex;
  width: 412px;
  height: 40px;
  background-color: #f3f5f7;
  border-radius: 20px;
}
.search input{
  flex: 1;
  border: 0;
  background-color: transparent;
  /* 去掉表单控件焦点框 */
  outline: none;
}
.search input::placeholder{
  font-size: 14px;
  color: #999;
}
.search a{
  align-self: center;
  width: 16px;
  height: 16px;
  background-image: url(../images/search.png);
}

/* 用户区域 */
.user{
  margin-left: 32px;
  margin-top: 4px;
}
.user img{
  /* vertical-align:行内块和行内垂直方向对齐方式 */
  margin-right: 7px;
  vertical-align: middle;
}
.user span{
  font-size: 16px;
  color: #666;
}

/* banner区域 */
.banner{
  height: 420px;
  background-color: #0092cb;
}
.banner .wrapper{
  display: flex;
  justify-content: space-between;
  height: 420px;
  background-image: url(../uploads/banner.png);
}
/* banner区域 left侧导航*/
.banner .left{
  width: 191px;
  background-color: rgba(0,0,0,0.42);
  padding: 3px 20px;
}
.banner .left a{
  display: block;
  height: 46px;
  background: url(../images/right.png) no-repeat right center;
  font-size: 16px;
  color: #fff;
  line-height: 46px;
}
.banner .left a:hover{
  color: #00a4ff;
  background-image: url(../images/right-hover.png);
}
/* banner区域 right课程表*/
.banner .right{
  margin-top: 60px;
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  border-radius: 10px;
}
.banner .right h3{
  margin-left: 14px;
  margin-top: 18px;
  margin-bottom: 9px;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.banner .right .content{
  padding: 14px;
  height: 257px;
  background-color: #fff;
  border-radius: 10px;
}
.banner .right dl{
  margin-bottom: 12px;
  border-bottom: 1px solid #e0e0e0;
}
.banner .right dt{
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.banner .right dd{
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
}
.banner .right dd span{
  color: #00a4ff;
}
.banner .right dd strong{
  color: #7d7d7d;
  font-weight: 400;
}
.banner .right a{
  display: block;
  height: 32px;
  background-color: #00a4ff;
  border-radius: 15px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
}
/* 精品推荐区域 */
.recommend{
  display: flex;
  margin-top: 11px;
  padding: 0 20px;
  width: 1200px;
  height: 60px;
  box-shadow: 0px 1px 2px 0px 
		rgba(211, 211, 211, 0.5);
    line-height: 60px;
}
.recommend h3{
  font-size: 18px;
  color: #00a4ff;
  font-weight: normal;
}
.recommend ul{
  display: flex;
  flex: 1;
}
.recommend ul li a{
  padding: 0 24px;
  border-right: #e0e0e0 1px solid;
  font-size: 18px;
}
.recommend ul li:nth-child(9) a{
  border-right: none;
}
.recommend .modify{
  font-size: 16px;
  color: #00a4ff;
}
/* 精品课程区域 */
.course{
  margin-top: 15px;
}
/* 头部区域 */
.hd{
  display: flex;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}
.hd h3{
  font-size: 21px;
  font-weight: normal;
}
.hd .more{
  padding-right: 20px;
  background: url(../images/more.png) no-repeat right center;
  font-size: 14px;
  color: #999;
}
/* 内容区域 */
.bd ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bd li{
  margin-bottom: 14px;
  width: 228px;
  height: 271px;
  background-color: #fff;
}
.bd li .pic{
  height: 156px;
}
.bd li .text{
  padding: 20px;
  height: 115px;
}
.bd li .text h4{
  margin-bottom: 16px;
  height: 37px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.bd li .text p{
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.bd li .text p span{
  color: #fa6400;
}
.bd li .text p i{
  font-style: normal;
}
/* 前端 */
.hd ul{
  display: flex;
}
.hd ul li{
  margin-right: 60px;
  font-size: 16px;
}
.hd ul li .active{
  color: #00a4ff;
}
/* 必须要一个类选择器web */
.web .bd{
  display: flex;
  justify-content: space-between;
}
.bd .right{
  width: 228px;
}
.bd .left{
  width: 957px;
}
.bd .left .top{
  margin-bottom: 15px;
  height: 100px;
}
/* python */
/* 必须要一个类选择器python,不然后面的人工智能格式会受到影响 */
.python .bd{
  display: flex;
  justify-content: space-between;
}
/* 人工智能区域和精品课程区域相似 */
/* 版权区域 */
.footer{
  margin-top: 60px;
  padding-top: 60px;
  height: 273px;
  background-color: #fff;
}
.footer .wrapper{
  display: flex;
  justify-content: space-between;
}
.footer .left{
  width: 432px;
}
.footer .left p{
  margin-top: 24px;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 17px;
  color: #666;
}
.footer .left .download{
  display: block;
  width: 120px;
  height: 36px;
  border: #00a4ff 1px solid;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #00a4ff;
}


.footer .right{
  display: flex;
}
.footer .right dl{
  margin-left: 130px;
}
.footer .right dt{
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 23px;
  color: #333;
}
.footer .right dd{
  font-size: 14px;
  line-height: 24px;
  color: #666;
}